<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>系统B</title>
</head>
<body>
    <h1>这是系统B</h1>
    <span>
    <a th:if="${session.loginUser==null}" href="http://www.ssosys.com:9000/view/login?target=http://B.ssosys.com:9011/view/index">登录</a>
    <a th:unless="${session.loginUser==null}" href="http://www.ssosys.com:9000/login/logout?target=http://B.ssosys.com:9011/view/index">退出</a>
</span>
    <p th:unless="${session.loginUser==null}">
        <span style="color:coral;" th:text="${session.loginUser.username}"></span> 已登录
    </p>
</body>
</html>